.custom-dropdown {
    position: relative;
    width: 320px;
    height: 40px;
    border: 1px solid #F0F0F0;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-tax {
    position: relative;
    border: 1px solid #F0F0F0;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-sale {
    position: relative;
    border: 1px solid #F0F0F0;
    width: 80px !important;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-locations {
    position: relative !important;
    width: 240px !important;
    background-color: #FFFFFF !important;
    font-family: var(--font-family) !important;
    font-weight: var(--font-weight-regular) !important;
    font-size: var(--font-size-small) !important;
    line-height: 18px !important;
    cursor: pointer !important;
    margin-left: 3px !important;
}

.custom-dropdown-1 {
    position: relative;
    width: 160px;
    height: 40px;
    border: 1px solid #F0F0F0;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    margin-top: 7px;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-add {
    position: relative;
    width: 160px;
    height: 35px;
    border: 1px solid #F0F0F0;
    border-radius: 4px 4px 4px 4px;
    /* margin-bottom: 10px; */
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-addgeneral1 {
    position: relative;
    width: 160px;
    height: 18px;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-shipping {
    position: relative;
    flex: 1;
    max-width: 240px;
    height: 18px;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
}

.custom-dropdown-VariationsAttributes {
    position: relative;
    flex: 1;
    max-width: 140px;
    height: 18px;
    border: 1px solid #F0F0F0;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--containers-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.dropdown-selected {
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-selected-add {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-arrow {
    margin-left: 10px;
    transition: transform 0.6s ease;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 318px;
    max-height: 0;
    overflow-y: auto;
    background-color: var(--containers-color);
    border: 1px solid #F0F0F0;
    /* border-top: 1px solid #535353; */
    border-radius: 0 0 4px 4px;
    z-index: 10;
    transition: max-height 0.3s ease, opacity 0.3s ease;;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.dropdown-options-1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 158px;
    max-height: 0;
    overflow-y: hidden;
    background-color: var(--containers-color);
    border: 1px solid #F0F0F0;
    border-top: 1px solid #535353;
    border-radius: 0 0 4px 4px;
    z-index: 10;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.dropdown-options-add {
    position: absolute;
    top: 100%;
    left: 0;
    width: 158px;
    max-height: 0;
    overflow-y: hidden;
    background-color: var(--containers-color);
    border: 1px solid #F0F0F0;
    border-radius: 4px 4px 4px 4px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    line-height: 18px;
    z-index: 10;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.dropdown-options.show {
    max-height: 200px;
    margin-top: 3px;
    opacity: 1;
    overflow-y: auto;
  }

.dropdown-options::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    background-color: var(--tbl-text-color);
    border-radius: 4px;
}

.dropdown-options-1.show {
    max-height: 200px;
    opacity: 1;
}

.dropdown-options-add.show {
    max-height: 200px;
    opacity: 1;
    margin-top: 2px;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-option:hover {
    /* background-color: var(--tbl-text-color); */
    background: linear-gradient(to left, #d3d3d3, #696969);
    color: var(--containers-color);
}