.Search-Select-Field {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    gap: 15px;
}

.suggestion-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 64%; 
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 3px;
}

.suggestion-list::-webkit-scrollbar {
    width: 8px;
}

.suggestion-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.suggestion-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.suggestion-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.suggestion-list {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


.suggestion-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestion-list li:hover {
    background-color: #f0f0f0;
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
  }
  
  /* .selected-item-tag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
  } */
  
  /* .remove-tag {
    margin-left: 5px;
    cursor: pointer;
    color: red;
  } */


  /* --------------------------------- */

  .selected-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* min-height: 30px; */
  }
  
  .selected-item-tag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
  }
  
  .remove-tag {
    margin-left: 5px;
    cursor: pointer;
    color: red;
  }

.AttributeData-Field {
  flex: 1;
  padding: 5px;
  width: 65%;
  height: 18px;
  outline: none;
  border: none;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* background-color: #f9f9f9; */
}

.AttributeData-Field::placeholder {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
  }
  
  /* .suggestion-list {
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .suggestion-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-list li:hover {
    background-color: #f0f0f0;
  } */
  
  