.accordion-container {
    width: 99%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
    /* box-shadow: var(--box-shadow-regular); */
    box-shadow: 0px 1px 4px 0px #00000029;
  }
  
  .accordion-header {
    background-color: #FDFDFD;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
    transition: background-color 0.3s;
  }
  
  .accordion-header:hover {
    background-color: #FDFDFD;
  }
  
  .accordion-content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
  }
  
  .accordion-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #FFFFFF;
    font-size: 16px;
    border-top: 3px solid var(--main-background-color);
  }
  
  .accordion-content-wrapper.show {
    max-height: 1000px; /* Adjust this value as needed */
  }
  
  .accordion-icon {
    transition: transform 0.3s ease;
  }
  
  .accordion-icon.rotate {
    transform: rotate(360deg);
  }

  /* -------------------------------------------------------------------------------------------- */

  .attribute-accordion-container {
    width: 99%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .attribute-accordion-header {
    background-color: #FDFDFD;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
    transition: background-color 0.3s;
  }
  
  .attribute-accordion-header:hover {
    background-color: #FDFDFD;
  }
  
  .attribute-accordion-content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
  }
  
  .attribute-accordion-content {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    padding: 10px;
    background: #FFFFFF;
    font-size: 16px;
    border-top: 3px solid var(--main-background-color);
  }
  
  .attribute-accordion-content-wrapper.show {
    max-height: 1000px; /* Adjust this value as needed */
  }

  .attribute-accordion-actions {
    display: flex;
    align-items: center;
  }

  .delete-btn {
    width: auto;
    height: 15px;
    margin-right: 10px;
    color: black;
    object-fit: contain;
  }
  
  .attribute-accordion-icon {
    transition: transform 0.3s ease;
  }
  
  .attribute-accordion-icon.rotate {
    transform: rotate(360deg);
  }
  
  .edit-text {
    color: var(--primary-color);
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: transform 0.7s ease;
  }

  .edit-text.rotate {
    transform: none;
  }
  
  /* Other existing CSS */
  
  
  
  